{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>{% if request.resolver_match.url_name == 'map_edit'  %} Edit {% else %} New {% endif %} map</h2>
    <form method="POST" class="map-form">{% csrf_token %}
        {{ form|crispy }}
        
        <label>Zoom:</label>
        <input type="range" min="0" max="18" value="{{ form.zoom.value }}" class="slider" id="zoomRange">
        <p>Zoom Level: <span id="zoomValue">{{ form.zoom.value }}</span></p>
        
        <input type="hidden" name="{{ form.zoom.name }}" id="zoomInput" value="{{ form.zoom.value }}">

        <button type="submit" class="save btn btn-secondary">Save</button>
    </form>
    
    <script>
        var slider = document.getElementById("zoomRange");
        var output = document.getElementById("zoomValue");
        var zoomInput = document.getElementById("zoomInput");
        output.innerHTML = slider.value;
        slider.oninput = function() {
            output.innerHTML = this.value;
            zoomInput.value = this.value;
        }
    </script>
{% endblock %}